# Describes the relative or full path to the Jakarta ORO Reg Exp jar file
# Required if you wish to use LogFilePatternReceiver or LikeRule (regexp)
#jakarta-oro.jar=../oro/jakarta-oro-2.0.8.jar

# For optimal operation, you should obtain the VFS jar (see http://jakarta.apache.org/commons/sandbox/vfs/)
# Required if you wish to compile and include the 
# org.apache.log4j.chainsaw.vfs.VFSLogFilePatternReceiver virtual file system receiver
# to access log files in Chainsaw
#
# See http://jakarta.apache.org/commons/sandbox/vfs/filesystems.html 
# for a full description of supported file systems (ssh, zip, etc).
#
# See http://jakarta.apache.org/commons/sandbox/vfs/download.html for 
# file system-specific jars required when running Chainsaw with a VFSLogFilePatternReceiver
#
# NOTE: VFS requires Commons logging JAR as well, otherwise it won't work.

# Place all the dependencies in this directory
# Dependencies directory
deps.dir=lib